name: CI

on:
  push:
    branches:
    - action
    tags:
    - '*'
  workflow_dispatch:

jobs:
  build_and_release:
    name: dwarfs-universal
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-depth: '0'
          ref: ${{ github.ref }}

      - name: Install deps
        run: |
          sudo sh -c 'apt update && apt install qemu-user-static -y'
          docker pull tonistiigi/binfmt:latest
          docker run --privileged --rm tonistiigi/binfmt --uninstall qemu-*
          docker run --privileged --rm tonistiigi/binfmt --install all

      - name: Build x86_64
        run: |
          ./build.sh amd64

      - name: Build aarch64
        run: |
          ./build.sh arm64v8

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dwarfs-universal*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
